<h1>Lista de Disciplinas 2023.1 </h1>
<ul>
  <li>Microcontroladores</li>
  <li>Projeto Final 2</li>
  <li>Engenharia de Requisitos</li>
  <li>Arquitetura de Computadores</li>
</ul>

<h1>Videos no YT favoritos</h1>
<ul>
  <li><a href="https://www.youtube.com/watch?v=kf7Dss2gCe0">Halle - Part of Your World (From "The Little Mermaid")</a></li>
  <li><a href="https://www.youtube.com/watch?v=cfUCH0Na7mE">Halle - High School Musical 2 - You Are The Music In Me</a></li>
  <li><a href="https://www.youtube.com/watch?v=DwuJeGYlYyw">Lauv - Steal The Show (From "Elemental")</a></li>
</ul>

<img src="https://images.unsplash.com/photo-1600272008408-6e05d5aa3e7a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z2F0b3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80">
